name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: bizoxe
          template: classic
          base: header, activity, community, repositories, metadata
          filename: github-metrics.svg
          config_timezone: Europe/Minsk
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex
          plugin_languages_details: percentage
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
